.lower_splash {
padding-left: 15vw;
padding-right: 15vw;
  display: flex;
align-items: center;
justify-content: space-between;
}

#splash_h1 {
  color: #24343E;
  line-height: 42px;
  font-size: 36px;
    font-family: 'Source Sans Pro',
    sans-serif;
}

#bank_benefits {
  margin-top: 100px;
}

#benefits_list {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  list-style-type: none;
}

.splash_desc {
  color: #777676;
  font-family: 'Source Sans Pro',
    sans-serif;
}

#proudly_made {
  margin-bottom: 15%;
}

#trusted_by {
  margin-top: 10%;
}