.lower_splash {
padding-left: 15vw;
padding-right: 15vw;
  margin-top: 10vh;
}

#splash_h1 {
  color: #24343E;
  line-height: 42px;
  font-size: 36px;
    font-family: 'Source Sans Pro',
    sans-serif;
}

#bank_benefits {
  margin-top: 100px;
}

#benefits_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}